body
{
    background-color : #A9F04A
}

#scr
{
    font-size: 20px;
    margin-left: 19px;
    float:left;
}

#tmr
{
    font-size: 20px;
    margin-right: 19px;
    float:right;
}

#target_of_user
{
    color:red
}

#conf
{
    font-size:  20px;
    padding-bottom: 10px;
}

#heading 
{
    font-size:20px
}